@{
    ViewBag.Title = "Home";
}
<!--importing the list of strings using c#-->
@model IEnumerable<string>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h2>This is a Top 5 List of Provo Restaurants</h2>

    <br /><br /> 
    @foreach (string r in Model)
        {
        <div>
            @Html.Raw(r) 
        </div><br />
        }
    </div>
